<ng-container>
  <div class="form-header mb-5">
    <div class="form-header-main d-flex mb-3">
      <img src="assets/translation.png" alt="" width="60px">
      <h1 class="my-auto mx-2">LOGIN</h1>
    </div>
    <h4>Enter your credentials to login</h4>
  </div>
  <div class="form-body mb-5">
    <!--LOGIN FORM-->
    <form [formGroup]="loginForm">
      <!--EMAIL INPUT FIELD-->
      <div class="login-input-field mb-4">
        <div class="d-flex">
          <i class="material-icons" style="margin-right: 5px; color: #008080;">email</i>
          <label for="login-email" class="form-label">Email Address</label>
        </div>
        <input class="form-control form-control-lg w-md-50" type="text" placeholder="Enter your email address"
          formControlName="email" aria-label=".login-email-form-control">
        <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="error-message">
          <small>{{ getErrorMessages('email') }}</small>
        </div>
      </div>
      <!--PASSWORD INPUT FIELD-->
      <div class="login-input-field mb-5">
        <div class="d-flex">
          <i class="material-icons" style="margin-right: 5px;  color: #008080">lock</i>
          <label for="login-password" class="form-label">Password</label>
        </div>
        <input class="form-control form-control-lg w-md-50 mb-2" type="password" placeholder="Enter your password"
          formControlName="password" aria-label=".login-password-form-control">
        <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="error-message">
          <small>{{ getErrorMessages('password') }}</small>
        </div>
      </div>
      <!--LOGIN SUBMIT BUTTON-->
      <div class="login-submit-btn d-flex justify-content-center">
        <button type="submit">
          <span>LOGIN NOW</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 74 74" height="34" width="34">
            <circle stroke-width="3" stroke="white" r="30.5" cy="37" cx="37"></circle>
            <path fill="white"
              d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z">
            </path>
          </svg>
        </button>
      </div>
    </form>
  </div>
  <div class="form-footer d-flex justify-content-center">
    <span>don't have an account? <a (click)="goToRegister()">REGISTER</a></span>
  </div>
</ng-container>