.tts-hero-container {
    padding: 0px 20px 10px 20px;
}

.feature_heading {
    font-family: PoppinsBold;
}

.feature_sub-heading {
    font-family: PoppinsRegular;
    font-weight: bold;
}

.tts_input_text-header h5{
    font-family: PoppinsRegular;
    font-weight: bold;
}

.tts_input_textarea textarea{
    resize: none;
    overflow-y: auto; 
    text-align: right;
    font-family: 'Noto Nastaliq Urdu';
    line-height: 2;
}

.tts_input_textarea textarea::placeholder{
    font-family: PoppinsRegular;
    text-align: left;
}

.tts_input_text-action_btns button{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.custom-button {
    font-family: PoppinsRegular;
    background-color: white;
    padding: 10px 25px;
    border: 3px solid #838eb9;
    color: #838eb9;
    font-weight: 700;
    letter-spacing: 2px;
}

.custom-button:hover{
    background-color: #838eb9;
    color: white;
}

.custom-button:hover img{
    filter: brightness(0) invert(1);
}

.tts_input_text-header .urdu_text{
    font-family: 'Noto Nastaliq Urdu';
}

/* .tts_input_text-footer {
    display: flex;
    justify-content: space-between;
} */























@media (max-width: 768px) {
    .feature_sub-heading {
        font-size: 16px;
        text-align: center;
    }

    .tts_input_text-header h5, 
    .tts_input_text-header  h5 {
        font-size: 16px;
    }

    .tts_input_text-header img,
    .tts_input_text-header img {
        width: 40px;
    }

    .tts_input_text-header textarea {
        font-size: 14px;
    }

    .tts_input_text-action_btns button img {
        width: 25px;
    }

    .sm_diff-container button {
        padding: 8px 12px;
        font-size: 10px;
    }

    .custom-button {
        padding: 8px 20px;
        font-size: 14px;
    }
    
    .tts_input_text-footer {
        flex-direction: column;
    }

    .output-container{
        display: flex;
        justify-content: center; 
    }

    .tts_input_textarea textarea::placeholder {
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .tts_input_text-header h5, 
    .tts_output_text-header h5 {
        font-size: 16px;
    }

    .tts_input_text-header img,
    .tts_output_text-header img {
        width: 40px;
    }

    .feature_sub-heading {
        font-size: 16px;
    }

    textarea {
        font-size: 14px;
    }

    .tts_input_text-footer {
        gap: 5px;
    }

    .tts_input_text-action_btns button img {
        width: 25px;
    }
}











