.summarization-hero-container {
    padding: 0px 20px 10px 20px;
}

.text_container {
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 1px 1px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-bottom: 20px;
}

.feature_heading {
    font-family: PoppinsBold;
    color: #5b5b5b;
}

.feature_sub-heading {
    font-family: PoppinsRegular;
    font-weight: bold;
    color: #5b5b5b;
}

.feature_input_text-header h5{
    font-family: PoppinsRegular;
    font-weight: bold;
    color: #5b5b5b;
}

.action-button {
    font-family: 'PoppinsRegular';
    font-size: 14px;
    padding: 10px 16px;
    letter-spacing: 3px;
    background: #3a5fb5;
    border: 3px solid #3a5fb5;
    border-radius: 30px;
    transition:0.1s ease-in-out;
    color: white;
    transition: 0.3s all ease-in-out;
}

.action-button:hover{
    background: white;
    color: #3a5fb5;
}

.sample-generate-btn {
    border: none;
    background: none;
    font-family: PoppinsRegular;
}

.sample-generate-btn span{
    font-size: 14px;
    color: #6c6c6c;
}

.feature_input_textarea textarea{
    resize: none;
    overflow-y: auto; 
    text-align: right;
    font-family: 'Noto Nastaliq Urdu';
    line-height: 2;
}

.feature_input_textarea textarea::placeholder{
    font-family: PoppinsRegular;
    text-align: left;
}

.feature_output_textarea textarea{
    resize: none;
    overflow-y: auto; 
    text-align: right;
    font-family: 'Noto Nastaliq Urdu';
    line-height: 2;
}

.feature_output_textarea textarea::placeholder{
    font-family: PoppinsRegular;
    text-align: left;
}

.feature_input_text-action_btns button{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.sm_diff-container button{
    font-family: PoppinsRegular;
    color: #6c6c6c;
    font-size: 14px;
    letter-spacing: 2px;
    border: none;
    transition: 0.2s all ease-in-out;
}

.active-difficulty {
    color: #3a5fb5 !important; 
    font-weight: 700;
}

.feature_input_text-header .urdu_text{
    font-family: 'Noto Nastaliq Urdu';
}

.feature_input_text-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
} 
























/* 
@media (min-width: 768px) and (max-width: 992px) {
    .feature_input_text-header h5, 
    .feature_output_text-header h5 {
        font-size: 16px;
    }

    .feature_input_text-header img,
    .feature_output_text-header img {
        width: 35px;
    }

    .feature_sub-heading {
        font-size: 16px;
    }

    textarea {
        font-size: 14px;
    }

    .sm_diff-container button {
        padding: 8px 12px;
        font-size: 12px;
    }

    .feature_input_text-footer {
        gap: 5px;
    }

    .feature_input_text-action_btns button img {
        width: 25px;
    }
}

@media (max-width: 768px) {
    .feature_sub-heading {
        font-size: 16px;
        text-align: center;
    }

    .feature_input_text-header h5, 
    .feature_output_text-header h5 {
        font-size: 16px;
    }

    .feature_input_text-header img,
    .feature_output_text-header img {
        width: 40px;
    }

    .feature_input_textarea textarea {
        font-size: 14px;
    }

    .feature_input_text-action_btns button img {
        width: 25px;
    }

    .sm_diff-container button {
        padding: 8px 12px;
        font-size: 10px;
    }

    .custom-button {
        padding: 8px 20px;
        font-size: 14px;
    }
}
 */
