.feature_heading {
    font-family: PoppinsBold;
}

.feature_sub-heading {
    font-family: PoppinsRegular;
    font-weight: bold;
}

.feature_input_text-header h5{
    font-family: PoppinsRegular;
    font-weight: bold;
}

.feature_input_textarea textarea::placeholder {
    font-family: PoppinsRegular;
    text-align:left;
}

.feature_input_textarea textarea{
    resize: none;
    overflow-y: auto; 
    text-align: right;
    font-family: 'Noto Nastaliq Urdu';
    line-height: 2;
}

.feature_input_text-action_btns button{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.custom-button {
    font-family: PoppinsRegular;
    background-color: white;
    padding: 10px 25px;
    border: 3px solid #838eb9;
    color: #838eb9;
    font-weight: 700;
    letter-spacing: 2px;
}

.custom-button:hover{
    background-color: #838eb9;
    color: white;
}

.sm_diff-container button{
    font-family: PoppinsRegular;
    border: 3px solid #838eb9;
    color: #838eb9;
    font-weight: 700;
    letter-spacing: 2px;
}

 .active {
    background-color: #838eb9;
    color: white !important; 
    border: none;
    outline: none;
}

.feature_output_textarea textarea{
    resize: none;
    overflow-y: auto; 
    text-align: right;
    font-family: 'Noto Nastaliq Urdu';
    line-height: 2;
}

.feature_output_textarea textarea::placeholder {
    font-family: PoppinsRegular;
    text-align:left;
}