<div class="summarization-hero-container">
    <div class="container-fluid">
        <div class="container">
            <div class="row mb-4 mt-4">
                <div class="col-12 text-center ocr_feature-heading-container">
                    <h1 class="feature_heading">Text <span style="color: #838eb9;">Summarization</span></h1>
                    <h5 class="feature_sub-heading">
                        Effortlessly Summarize Urdu Text. Quick, Accurate, and Flexible Summarization at Your
                        Fingertips!
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <form (ngSubmit)="onSubmit()">
            <div class="row m-4 p-2 text_container"
                style="border-radius: 10px; box-shadow: rgba(255, 255, 255, 0.3) 0px 1px 1px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;">
                <div class="col-lg-6 col-12 col-md-6 translation_input-text-container p-2 mb-3 mb-md-0">
                    <div class="feature_input_text-header d-flex mb-2">
                        <img src="assets/summary_img0.png" alt="summary image" width="50px">
                        <div style="display: flex; justify-content: space-between; width: 100%;">
                            <h5 class="my-auto mx-2">Summarize Text</h5>
                            <h5 class="my-auto mx-2 urdu_text">تحریر کا خلاصہ کریں</h5>
                        </div>
                    </div>
                    <div class="feature_input_textarea mb-3">
                        <textarea id="inputText" class="form-control" rows="10" [(ngModel)]="InputText" name="inputText"
                            placeholder="Enter the text you want to summarize."></textarea>
                    </div>
                    <div class="feature_input_text-footer d-flex justify-content-between my-auto">
                        <div class="feature_input_text-action_btns my-auto">
                            <button type="button" (click)="copyText($event)" id="inputbtn">
                                <img src="assets/copy.png" alt="" width="30px">
                            </button>
                            <button type="button" (click)="clearText()">
                                <img src="assets/delete.png" alt="" width="30px">
                            </button>
                        </div>
                        <div class="sm_diff-container my-auto">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn" [ngClass]="{'active': selectedDifficulty === 'Easy'}"
                                    (click)="selectDifficulty('Easy')">Easy</button>
                                <button type="button" class="btn diff_btn"
                                    [ngClass]="{'active': selectedDifficulty === 'Moderate'}"
                                    (click)="selectDifficulty('Moderate')">Moderate</button>
                                <button type="button" class="btn"
                                    [ngClass]="{'active': selectedDifficulty === 'Difficult'}"
                                    (click)="selectDifficulty('Difficult')">Difficult</button>
                            </div>

                        </div>
                        <button type="submit" class="btn custom-button">Summarize</button>
                    </div>
                </div>
                <div class="col-lg-6 col-12 col-md-6 translation_output-text-container p-2">
                    <div class="feature_input_text-header d-flex mb-2">
                        <img src="assets/summary_img1.png" alt="summary image" width="50px">
                        <div style="display: flex; justify-content: space-between; width: 100%;">
                            <h5 class="my-auto mx-2">Review Summary</h5>
                            <h5 class="my-auto mx-2 urdu_text">خلاصے کا جائزہ لیں</h5>
                        </div>
                    </div>
                    <div class="feature_output_textarea mb-3">
                        <textarea readonly id="outputText" class="form-control" rows="10" [(ngModel)]="OutputText"
                            name="outputText" style="background-color: #efefef;"
                            placeholder="Review the summarized text here."></textarea>
                    </div>
                    <div class="feature_input_text-footer d-flex justify-content-between" style="min-height: 50px;">
                        <div class="feature_input_text-action_btns my-auto">
                            <button type="button" (click)="copyText($event)" id="outputbtn">
                                <img src="assets/copy.png" alt="" width="30px">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>





