<section class="auth_hero-container">
    <div class="container-fluid p-0">
        <div class="full-height-section" >
            <div class="row w-100 h-100 d-flex justify-content-center">
                <div class="col-lg-6 col-md-4 d-flex justify-content-center h-100 hello" >
                    <h3>Join us to experience the future of </h3>
                    <h1>Urdu language.</h1>
                </div>
                <div class="col-lg-6 col-md-8 d-flex justify-content-center my-auto">
                    <div *ngIf="currentView === 'login'" class="login-form_container mx-5 p-3 w-75">
                        <app-login (switchToRegister)="switchView('register')"></app-login>
                    </div>
                    <div *ngIf="currentView === 'register'" class="register-form_container mx-5 p-3 w-75">
                        <app-register (switchToLogin)="switchView('login')"></app-register>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>