.full-height-section {
    height: calc(100vh - 52px);
}

.auth_left-panel{
    align-items: center;
    background-image: url('../../../../public/assets/homepage_bg1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    text-align: center;
}

.auth_left-panel h2{
    color: #3a5fb5;
    font-family: PoppinsRegular;
    font-weight: 700;
}

.auth_left-panel h1{
    color: #ffffff;
    font-family: PoppinsBold;
    text-shadow: 2px 2px 2px #3a5fb5;
}

/* @media (max-width: 769px) {
    .auth_left-panel h2{
        font-size: 20px;
    }

    .auth_left-panel h1{
        font-size: 38px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .auth_left-panel h2{
        font-size: 20px;
    }

    .auth_left-panel h1{
        font-size: 34px;
    }
} */
