<section class="auth_hero-container">
    <div class="container-fluid">
        <div class="full-height-section">
            <div class="row h-100 ">
                <div class="col-lg-6 col-md-5 col-12 h-100  d-flex justify-content-center auth_left-panel">
                    <h2>Join us to experience the future of </h2>
                    <h1>Urdu Language.</h1>
                </div>
                <div class="col-lg-6 col-md-7 col-12 d-flex justify-content-center my-auto">
                    <div *ngIf="currentView === 'login'" class="login-form_container mx-5 p-3 w-75">
                        <app-login (switchToRegister)="switchView('register')"></app-login>
                    </div>
                    <div *ngIf="currentView === 'register'" class="register-form_container mx-5 p-3 w-75">
                        <app-register (switchToLogin)="switchView('login')"></app-register>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>