<div class="homepage-hero-container">
    <div class="container-fluid p-0">
        <div class="full-height-section">
            <div class="row w-100 h-100 d-flex">
                <div class="col-lg-7 d-flex" style=" display: flex; justify-content: center;">
                    <div class="splash-screeen_header-container my-auto">
                        <h1>URDU PLATFORM</h1>
                        <h4>I don't know what to write here :)</h4>
                        <button routerLink="auth">LOGIN</button>
                    </div>
                </div>
                <div class="col-lg-5 d-flex">
                    <div class="my-auto">
                        <h2>Additional Content</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid service_hero-container ">
        <div class="container">
            <div class="row mb-4 mt-4">
                <div class="col-lg-12">
                    <div class="service-heading-container text-center">
                        <h1 class="mb-2">
                            <span style="color: #008080;">SERVICES</span> WE OFFER
                        </h1>
                        <h3>Explore our wide range of Services</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3 mb-4" *ngFor="let card of featureCards">
                    <app-feature-card [ftname]="card.ftname" [ftdesc]="card.ftdesc" [ftimg]="card.ftimg"
                        [ftroute]="card.ftroute">
                    </app-feature-card>
                </div>
            </div>
        </div>
    </div>
</div>