/*SPLASH SCREEN SECTION CSS*/
.full-height-section {
    height: calc(100vh - 56px); 
    background-image: linear-gradient(to left, #71caca, #5bb7b7, #45a4a4, #2b9292, #008080);
}
.splash-screeen_header-container h1{
    font-family: PoppinsBold;
    font-size: 72px;
    color: white;
}

/*SERVICE SECTION CSS*/
.service-heading-container h1{
    font-family: PoppinsBold;
}

.service-heading-container h3{
    font-family: PoppinsRegular;
    font-weight: bold;
}