/* SPLASH SCREEN SECTION CSS */
.full-height-section {
  height: calc(100vh - 56px);
  background-image: url(../../../../public/assets/homepage_bg.jpg);
  background-position: center;
  background-size: cover;
}

.splash-screen_header-container {
  padding: 20px;
}

.splash-screen_header-container h3 {
  font-family: PoppinsRegular;
  font-size: clamp(28px, 4vw, 50px);
  color: #838eb9;
}

.splash-screen_header-container h1 {
  font-family: PoppinsBold;
  font-size: clamp(32px, 5vw, 50px);
  color: #838eb9;
}

.login-btn {
  border-radius: 20px;
  background-color: transparent;
  font-family: PoppinsRegular;
  font-size: clamp(16px, 2vw, 24px); 
  font-weight: 700;
  color: #838eb9;
  padding: 10px 20px;
  border: 3px solid #838eb9;
  letter-spacing: 2px;
  transition: 0.2s all ease-in;
}

.login-btn:hover {
  background-color: #838eb9;
  color: white;
}

.splash_screen-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.service-heading-container h1 {
  font-family: PoppinsBold;
}

.service-heading-container h3 {
  font-family: PoppinsRegular;
  font-weight: bold;
}


