.navbar{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #838eb9;
}

.navbar-brand{ 
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}

.nav-link {
    font-family: PoppinsRegular;
    color: white;
    margin: 0px 5px;
    font-size: 18px;
    transition: color 0.3s;
    position: relative;
  }

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    transition: width 0.3s ease, left 0.3s ease;
  }
  
  .nav-link:hover::after {
    width: 50%; 
    left: 50%;
    transform: translateX(-50%);
  }