.translation-hero-container {
    padding: 0px 20px 10px 20px;
}

.text_container {
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 1px 1px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-bottom: 15px;
}

.feature_heading {
    font-family: PoppinsBold;
    color: #5b5b5b;
}

.feature_sub-heading {
    font-family: PoppinsRegular;
    font-weight: bold;
    color: #5b5b5b;
}

.feature_text-header h5{
    font-family: PoppinsRegular;
    font-weight: bold;
    color: #5b5b5b;
}

.feature_text-header .urdu_text{
    font-family: 'Noto Nastaliq Urdu';
}

.action-button {
    font-family: 'PoppinsRegular';
    font-size: 14px;
    padding: 10px 16px;
    letter-spacing: 3px;
    background: #3a5fb5;
    border: 3px solid #3a5fb5;
    border-radius: 30px;
    transition:0.1s ease-in-out;
    color: white;
    transition: 0.3s all ease-in-out;
}

.action-button:hover{
    background: white;
    color: #3a5fb5;
}

.feature_input_textarea textarea{
    resize: none;
    overflow-y: auto; 
    text-align: right;
    font-family: 'Noto Nastaliq Urdu';
    line-height: 2;
}

.feature_input_textarea textarea::placeholder{
    font-family: PoppinsRegular ;
    text-align: left;
}

.feature_output_textarea textarea{
    resize: none;
    overflow-y: auto; 
    text-align: right;
    font-family: 'Noto Nastaliq Urdu';
    line-height: 2;
}

.english-outputbox {
    font-family: PoppinsRegular !important;
    text-align: left !important;
}

.feature_output_textarea textarea::placeholder{
    font-family: PoppinsRegular;
    text-align: left;
}

.feature_input_text-action_btns button{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.language-selector-btn{
    border: 2px solid #9a9a9a;
    font-family: PoppinsRegular;
    font-size: 14px;
    color: #5b5b5b;
}

.dropdown-item{
    cursor: pointer;
}

.selectedLanguage{
    font-family: PoppinsRegular;
    color: #3a5fb5;
}

.sample-generate-btn {
    border: none;
    background: none;
    font-family: PoppinsRegular;
}

.sample-generate-btn span{
    font-size: 14px;
    color: #6c6c6c;
}



/* 
@media (max-width: 992px) {
    .feature_sub-heading {
        font-size: 16px;
        text-align: center;
    }

    .translation_input_text-header h5, 
    .translation_output-text-header h5 {
        font-size: 16px;
    }
    textarea {
        font-size: 14px;
    }
    .translation_input_textarea textarea {
        font-size: 14px;
        line-height: 1.5;
    }

    .translation_input_text-header img {
        width: 40px;
    }
    .translation_input_text-action_btns button img {
        width: 25px;
    }
} */
