<div class="about-us-hero-container">
    <div class="container-fluid">
        <div class="container">
            <div class="row mb-4 mt-4">
                <div class="col-12 text-center aboutus-main-heading-container">
                    <h1><span style="color: #3a5fb5;">About </span>Us</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">Walu du dun dalali Wa tub lu tob tobali TOB TOBI TAB TOB TOBI TAB</div>
                <div class="col-lg-6">
                    <div class="section-1-heading-container">
                        <h3>Who are We?</h3>
                        <h5>Unlocking the potential of Urdu language – Extract, Summarize, Speak, and Translate with
                            Ease!</h5>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos aut vitae doloribus consequatur
                            possimus optio porro voluptatum, laudantium, quo nisi consectetur cum atque. Quasi
                            dignissimos hic in quos molestias quidem rem, ullam iure tempore, repellat nobis quibusdam
                            ipsum aliquam nemo voluptas ut sed eius porro provident dolore nulla? Ea hic iste illum.
                            Velit itaque nulla delectus aut non autem tenetur eius impedit maxime. Autem labore
                            molestiae adipisci recusandae placeat a.</p>
                    </div>
                    <div class="section-1-list-container">
                        <ul>
                            <li>
                                <img src="assets/check.png" alt="" width="30px">
                                <span>OCR Technology</span>
                            </li>
                            <li>
                                <img src="assets/check.png" alt="" width="30px">
                                <span>Text Summarization</span>
                            </li>
                            <li>
                                <img src="assets/check.png" alt="" width="30px">
                                <span>Text Translation</span>
                            </li>
                            <li>
                                <img src="assets/check.png" alt="" width="30px">
                                <span>Text to Speech</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row mt-4 mb-4">
                <div class="col-lg-6">
                    <div class="section-1-heading-container">
                        <h3>Our Platform in Action!</h3>
                        <h5>Unlocking the potential of Urdu language – Extract, Summarize, Speak, and Translate with
                            Ease!</h5>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos aut vitae doloribus consequatur
                            possimus optio porro voluptatum, laudantium, quo nisi consectetur cum atque. Quasi
                            dignissimos hic in quos molestias quidem rem, ullam iure tempore, repellat nobis quibusdam
                            ipsum aliquam nemo voluptas ut sed eius porro provident dolore nulla? Ea hic iste illum.
                            Velit itaque nulla delectus aut non autem tenetur eius impedit maxime. Autem labore
                            molestiae adipisci recusandae placeat a.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true"
                                aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                                aria-label="Slide 4"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="assets/ocr-use-case.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>OCR Technology</h5>
                                    <ul>
                                        <li>
                                            <img src="assets/arrow.png" alt="">
                                            <span>Digitization of historical Urdu literature and documents.</span>
                                        </li>
                                        <li>
                                            <img src="assets/arrow.png" alt="">
                                            <span>Extracting text from scanned newspapers, books, and research papers.</span>
                                        </li>
                                        <li>
                                            <img src="assets/arrow.png" alt="">
                                            <span>Assisting visually impaired individuals by enabling efficient text-to-speech conversion.</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="assets/summary-use-case.png" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Text Summarization</h5>
                                    <ul>
                                        <li>
                                            <img src="assets/arrow.png" alt="">
                                            <span>Helping students and researchers quickly grasp the key points of lengthy Urdu articles.</span>
                                        </li>
                                        <li>
                                            <img src="assets/arrow.png" alt="">
                                            <span>Enhancing news aggregation platforms by summarizing Urdu news articles.</span>
                                        </li>
                                        <li>
                                            <img src="assets/arrow.png" alt="">
                                            <span> Improving user engagement by providing brief yet informative content summaries.</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="assets/translate-use-case.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Text Translation</h5>
                                    <ul>
                                        <li>
                                            <img src="assets/arrow.png" alt="">
                                            <span>Bridging the language gap for global readers of Urdu content.</span>
                                        </li>
                                        <li>
                                            <img src="assets/arrow.png" alt="">
                                            <span> Assisting students and professionals in understanding foreign language materials.</span>
                                        </li>
                                        <li>
                                            <img src="assets/arrow.png" alt="">
                                            <span>Enabling businesses to localize their content for Urdu-speaking audiences.</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="assets/tts-use-case.png" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Text to Speech</h5>
                                    <ul>
                                        <li>
                                            <img src="assets/arrow.png" alt="">
                                            <span>Facilitating audiobook creation for Urdu literature.</span>
                                        </li>
                                        <li>
                                            <img src="assets/arrow.png" alt="">
                                            <span>Enhancing accessibility in digital learning platforms.</span>
                                        </li>
                                        <li>
                                            <img src="assets/arrow.png" alt="">
                                            <span>Enabling visually impaired individuals to listen to Urdu text content.</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div>Hello</div>
        </div>
    </div>
</div>