.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #838eb9;
    z-index: 9999;
}

.progress {
    height: 100%;
    width: 100%;
    background: #ffffff;
    animation: progress-animation 2s infinite linear;
}

@keyframes progress-animation {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}