/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: PoppinsBold;
    src: url(../public/assets/Fonts/Poppins-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family: PoppinsRegular;
    src: url(../public/assets/Fonts/Poppins-Regular.ttf) format('truetype');
}